.EventList {
  display: grid;  
  grid-gap:2px;
  }

  .warning_text{
  position:fixed;
  top: 50px;
  font-size: 16px;
  font-style: italic;

}

  .col{
  background-color: #bdb76b;
  }
  

  .warning_text{
    animation: text_movement infinite 20s alternate-reverse;
  }

  @keyframes text_movement {
    from{
      transform: translate(30px);
    }
    to{
      transform: translate(700px);
    }
  }

  @media screen and (min-width:0px) and (max-width:450px) {
    .EventList {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  
  @media screen and (min-width:450px) and (max-width:750px) {
    .EventList {
      grid-template-columns: repeat(2, 1fr );
      width: auto;
      margin: 0;
    }

  }
  
  @media screen and (min-width:750px) {
    .EventList {
      grid-template-columns: repeat(2, 1fr );
    }
  }

  @media (max-width:915px){
   .warning_text{
      margin-top: -40px;
   }
}

@media(max-width: 540px), (min-width: 541px){
   @keyframes text_movement {
    from{
      transform: translate(30px);
    }
    to{
      transform: translate(90px);
    }
  }
}
@media (min-width: 541px){
   @keyframes text_movement {
    from{
      transform: translate(30px);
    }
    to{
      transform: translate(800px);
    }
  }
}

@media(max-width: 471px){
  .warning_text{
    display: none;
  }
}