.WelcomeScreen {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
}
h1{
   position: relative;
   bottom: 70px
}

h4{
   font-size: 18px;
   font-style: italic;
}

.google-icon {
   position: absolute;
   margin-top: 30px;
   margin-left: 3px;
   width: 18px;
   height: 21px;
}
.btn-text {
float: none;
color: #000;
font-size: 14px;
letter-spacing: 0.2px;
font-family: "Roboto";
background-color: #f6f7f0f5;
width: 80%;
height: 60%;
text-align: center;
border-radius: 10px;
margin-bottom: 10px;
text-transform: uppercase;

}
.btn-text :hover{
   cursor: pointer;;
}

.sign_in-text{
   color: rgb(195, 206, 145);
   margin-bottom: 40px;
   margin-bottom: 0px;
}

.sign_in-text a{
   color:rgb(247, 252, 252);
}

.privacy{
   position: relative;
   top: 40px;
   color: lightblue;
}